<html>
  <body>
    <div class="post">
      <!-- post title, meta data, and body displayed here -->
      <br /><br />
      <div class="comments">
        <h3>Comments:</h3>
        <% post.comments.each_with_index do |comment, index| %>
          <p class="comment">
            <small class="comment_meta">
              <span class="comment_author">#<%= index %> by <%= comment.author %> -</span>
              <em class="comment_created_at"><%= comment.created_at %></em>
            </small>

            <p class="comment_body"><%= comment.body %></p>
          </p>
          <hr />
          <form method="post" action="/list_posts/<%= post.id %>/delete_comment/<%=comment.id %>">
            <input type="submit" value="Delete Comment" />
          </form>
          <hr />
        <% end %>
      </div>
    </div>
    <br />
      <div class="errors">
          <% comment.errors.each do |attribute, error| %>
            <p class="error" style="color: orange">
              <%= attribute %>: <%= error %>
            </p>
          <% end%>
      </div>
      <form method="post" action="/create_comment_for_post/<%= post.id %>">
          <label for="body">Comment</label>
          <textarea id="body" name="body"><%= comment.body %></textarea>
          <br /> <br />

          <label for="author">Name</label>
          <input id="author" name="author" type="text" value="<%= comment.author %>"/>
          <br /> <br />

          <input type="submit" value="Add Comment" />
      </form>
        <hr />
    <a href="/list_posts">Back to Posts</a>

  </body>
</html>